<head>
    <title>Dark Souls III message simulator</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/ds3-template.css">
</head>

<script>
  let soapstone  = <%-JSON.stringify(soapstone);%>;
  let appraisals = <%-soapstone.good-soapstone.poor%>; 
</script>
<body>
  <script language="javascript" src="/js/bootstrap.min.js"></script>     

  <div class="bg">

    <div class="container-lg plaque mb-3 template"> <!--Template plaque container-->
      <div class="row">
        <div class="col-3 mt-3 pt-2 text-end"> <!--medalion col-->
          <img id="medalion" src="/assets-ds3/rank1.png" class="img-fluid medalion">
        </div>
        <div class="col-9 mt-3"> <!--Collumn that holds the template and ratings--> 
          <div class="row h-100 templateRow">
             <!--Template collumn-->
              <div id="mainTemplate" class="col-12 ml-5 txtWhite text-responsive">
                <span id="firstTemplate"><%=soapstone.message%></span> 
              </div>
            
            <div class="col-6 btmLeft rating"></div>     
            <div id="appraisals" class="col-6 txtWhite btmRight">Appraisals &nbsp;&nbsp;&nbsp;&nbsp;<%=soapstone.good-soapstone.poor%></div>     
          </div>
        </div>
        <div class="col-5 col-lg-1 offset-lg-4 pt-2 mb-2">
          <img id="appraiseButton" src="/assets-ds3/appraise-button.png" class="hvr-glow">
        </div>
        <div class="col-2"></div>
        <div class="col-5 col-lg-1 pt-2 mb-2 justify-content-end alignEnd">
          <img id="dispargeButton" src="/assets-ds3/disparge-button.png" class="hvr-glow">
        </div>
      </div>
    </div>
    <div class="container-lg goodPoor">
      <div class="row justify-content-end">
        <div id="votes" class="col-4 col-lg-2 txtWhite noWrap"><%=`Good: ${soapstone.good}`%>&nbsp;&nbsp;&nbsp;&nbsp;<%=`Poor: ${soapstone.poor}`%></div>
        
      </div>
    </div>

  </div>

  <script>
  
    console.log('soapstone', soapstone);
  </script>
  <script type="application/javascript" src="/js/ds3-template.js"></script>
</body>